html {
    font-size: 10px;
}

.body {
    background-color: #EDD0C0;
    font-family: 'Ubuntu', sans-serif;
}

/* ===================  Header =================== */

.header {
    background-color: #928A97;
    width: 100%;
    height: 6rem; 
    display: block;
    margin-bottom: 2rem;
}

.header__content {
    width: 90%;
    height: 6rem;
    display: flex;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header__logo {
    width: auto;
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: #FFFFFF;
    margin: 0;
    align-self: center;
}


/* Estilos para Unnlogged navbar  */

.corner-block {
    width: auto;
    align-self: center;
}

.corner-block__link {
    display: inline;
    text-decoration: none;
    font-size: 1.8rem;
    color: #FFFFFF;
}

.corner-block__separator {
    display: inline;
    color: #FFFFFF;
    padding: 0.8rem 0.8rem;
}

/* Estilos para Logged navbar  */

.profile-menu {
    display: flex;
    flex-direction: column;
}

.profile-menu__picture {
    align-self:flex-end;
    padding-left: 1rem;
    padding-top: 1.8rem;
}

.profile-menu__submenu {
    background-color: #928A97;
    font-size: 1.5rem;
    padding: 1rem;
}


/* Menú de navegación */

.nav {
    background-color: #928A97;
    width: auto;
    align-self: center;
}

.nav__menu {
    width: auto;
}

.nav__button {
    color: #FFFFFF;
    padding-left: 3rem;
    padding-right: 3rem;
    display: inline-block;
}

.nav__link {
    color: #FFFFFF;
    text-decoration: none;
}

.nav__link--cascade {
    display: block;
    letter-spacing: 0.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* =================== Caja Mapa principal =================== */

.index-box {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: #FFFFFF;
    padding: 4rem 2rem 4rem 2rem;
    margin: 0 auto;
    border-radius: 1rem;
}

.index-box__title {
    width:95%;
    align-self: center;
    text-align: left;
    padding-bottom: 0.3m;
    font-size: 2.8em;
}

.finder {
    width:95%;
    padding-bottom: 3em;
    align-self: center;
}

.finder__field {
    font-size: 2em;
}

.finder__button {
    font-size: 2em;
}

.map {
    height: 60em;
    width: 95%;
    align-self: center;
    border-radius: 1em;
    border: 0.3em solid rgb(0, 0, 0);
  }

/* Submenú de navegación */


