html {
    font-size: 10px;
}



.body {
    display: flex;
    flex-wrap: wrap;
    min-height: 10rem;
    background-color: #f3f1f3;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.box {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.box__separation-line {
    width: 100%;
    border-bottom:  0.1rem solid #928A97;
    align-self: center;
    margin: 3rem 0;
}

.button {
    width: 15rem;
    height: 4rem;
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0.1rem solid #928A97;
    border-radius: 2rem;
    background-color: #A4D6C8;
    color:#FFFFFF;
}

.button:active {
    background-color: #EDD0C0;
    
}

.button--25rem {
    width: 25rem;
    
}

.button--red {
    background-color: #ff7a7a;
}


.button:hover {
    border: 0.05rem solid black;
}

/* Estilos para Unnlogged navbar  */

.corner-block {
    width: auto;
    align-self: center;
}

.corner-block__link {
    display: inline;
    text-decoration: none;
    font-size: 1.8rem;
    color: #FFFFFF;
}

.corner-block__separator {
    display: inline;
    color: #FFFFFF;
    padding: 0.8rem 0.8rem;
}

.footer {
    width: 100%;
    height: 30rem;
    background-color: #EDD0C0;
    margin: 6rem 0 0 0;
    align-self: flex-end;
}

/* Formularios */

.form {
    width:100%;
    height: auto;
}

.form--35rem {
    width: 35rem;
    flex-wrap: wrap;
    align-self: center;
    min-height: 600px;
}

.form--finder-style {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    margin-bottom: 2rem;
}

.form__a {
    margin-left: 0.5rem;
}

.form__button-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.form__button-box--column {
    width: auto;
    flex-direction: column;
    align-self: flex-end;
    margin-left: 2rem;
}

.form__exception {
    width: 100%;
    padding: 2rem;
    background-color: #ee737359;
    border: 0.2rem solid #b60000;
    color: #b60000;
    font-size: 1.5rem;
}

.form__field {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    border: 0.1rem solid #928A97;
    border-radius: 2rem;
    background-color: #FFFFFF;
    padding: 0 2rem;
}

.form__field--finder-style {
    width: 50%;
    margin-right: 2rem;  
}

.form__label {
    display: inline-block;
    font-size: 2rem;
    margin: 1rem 0;
}


.form__p {
    font-size: 1.5rem;
    margin-left: 2rem;
    align-self: center;
}

.form__select {
    width: 25rem;
    height: 4rem;
    font-size: 2rem;
    border: 0.1rem solid #928A97;
    border-radius: 2rem;
    padding-left: 2rem;

    background-color: #FFFFFF;
}

.form__select--finder-style {
    margin-right: 2rem;  
}

.form__textarea-box {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-between;
}

.form__textarea-column {
    width: 87%;
    flex-direction: column;
}

.h2 {
    width: 100%;
    align-self: center;
    font-size: 2.8em;
}

/* ===================  Header =================== */

.header {
    background-color: #928A97;
    width: 100%;
    height: 6rem; 
    display: block;
    margin-bottom: 4rem;
}

.header__content {
    width: 90%;
    height: 6rem;
    display: flex;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header__logo {
    width: auto;
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: #FFFFFF;
    margin: 0;
    align-self: center;
}

.header__link {
    text-decoration: none;
    color: #FFFFFF;
}

/* ================  Infowindows ================ */

.infowindow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
}

.infowindow__title {
    font-size: 1.8rem;
    font-weight: bolder;
}

.infowindow__description {
    font-size: 1.5rem;
}

/* ===================  Mapas =================== */
.map {
    height: 60rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    border:  0.1rem solid #928A97;
    border-radius: 2rem;
    margin-top: 1rem;
}

.map__p {
    font-size: 1.5rem;
    display: inline-block;
    align-self: center;
}

/* Menú de navegación */

.nav {
    background-color: #928A97;
    width: auto;
    align-self: center;
}

.nav__menu {
    width: auto;
}

.nav__button {
    color: #FFFFFF;
    padding-left: 3rem;
    padding-right: 3rem;
    display: inline-block;
    
}

.nav__link {
    color: #FFFFFF;
    text-decoration: none;
    
}

.nav__link:hover {
    color: #FFD2D2;
}

.nav__link:focus {
    color: #A4D6C8
}

.nav__link--cascade {
    display: block;
    letter-spacing: 0.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav__link--hoover {
    color: #FFD2D2;
}

.nav__link--click {
    color: #A4D6C8
}


.p {
    font-size: 1.5rem;
    justify-self: left;
}


/* Estilos para Logged navbar  */

.profile-menu {
    display: flex;
    flex-direction: column;
}

.profile-menu__box {
    align-self:flex-end;
    padding-left: 1rem;
    padding-top: 1.8rem;
    color: #FFFFFF;
    cursor: default;
}

.profile-menu__arrow {
    cursor: pointer;
}

.profile-menu__arrow:hover {
    color: #FFD2D2;
}

.profile-menu__submenu {
    background-color: #928A97;
    font-size: 1.5rem;
    padding: 1rem;
    display: none;
}

.profile-menu__submenu--visible {
    display: inline-block;
    z-index: 2;
}

.textarea {
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
}


