html {
    font-size: 10px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    min-height: 10rem;
    background-color: #f3f1f3;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.footer {
    width: 100%;
    height: 30rem;
    background-color: #EDD0C0;
    margin: 6rem 0 0 0;
    align-self: flex-end;
}

.h2 {
    width: 95%;
    align-self: center;
    font-size: 2.8em;
}

/* ===================  Header =================== */

.header {
    background-color: #928A97;
    width: 100%;
    height: 6rem; 
    display: block;
    margin-bottom: 4rem;
}

.header__content {
    width: 90%;
    height: 6rem;
    display: flex;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header__logo {
    width: auto;
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: #FFFFFF;
    margin: 0;
    align-self: center;
}


/* Estilos para Unnlogged navbar  */

.corner-block {
    width: auto;
    align-self: center;
}

.corner-block__link {
    display: inline;
    text-decoration: none;
    font-size: 1.8rem;
    color: #FFFFFF;
}

.corner-block__separator {
    display: inline;
    color: #FFFFFF;
    padding: 0.8rem 0.8rem;
}

/* Estilos para Logged navbar  */

.profile-menu {
    display: flex;
    flex-direction: column;
}

.profile-menu__picture {
    align-self:flex-end;
    padding-left: 1rem;
    padding-top: 1.8rem;
    color: #FFFFFF;
}

.profile-menu__submenu {
    background-color: #928A97;
    font-size: 1.5rem;
    padding: 1rem;
    display: none;
}


/* Menú de navegación */

.nav {
    background-color: #928A97;
    width: auto;
    align-self: center;
}

.nav__menu {
    width: auto;
}

.nav__button {
    color: #FFFFFF;
    padding-left: 3rem;
    padding-right: 3rem;
    display: inline-block;
}

.nav__link {
    color: #FFFFFF;
    text-decoration: none;
}

.nav__link--cascade {
    display: block;
    letter-spacing: 0.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* =================== Caja Mapa principal =================== */

.box {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.box__separation-line {
    width: inherit;
    border-bottom:  0.1rem solid #928A97;
    align-self: center;
    margin: 3rem 0;
}


/* Formularios */

.form {
    width:95%;
    align-content: center;
    align-self: center;
}

.form--35rem {
    width: 35rem;
}

.form__button-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.form__exception {
    width: 100%;
    padding: 2rem;
    background-color: #ee737359;
    border: 0.2rem solid #b60000;
    color: #b60000;
    font-size: 1.5rem;
}

.form__field {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    border: 0.1rem solid #928A97;
    border-radius: 2rem;
    background-color: #FFFFFF;
    margin: 1rem 0;
    padding: 0 2rem;
}

.form__field--finder {
    width: 50%;
    padding: 0 2rem;
    margin-right: 1rem;
}

.form__label {
    font-size: 2rem;
}

.form__p {
    font-size: 1.5rem;
    margin-left: 1rem;
    align-self: center;
}

.form__select {
    width: auto;
    height: 4rem;
    font-size: 2rem;
    border: 0.1rem solid #928A97;
    border-radius: 2rem;
    padding-left: 2rem;
    margin-right: 1rem;
    background-color: #FFFFFF;
}


.button {
    min-width: 12rem;
    height: 4rem;
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0.1rem solid #928A97;
    border-radius: 2rem;
    background-color: #A4D6C8;
    color:#FFFFFF;
}



.map {
    height: 60rem;
    width: 95%;
    align-self: center;
    border:  0.1rem solid #928A97;
    border-radius: 2rem;
    margin-top: 1rem;
  }



