.DS_Store
*.tmp
*.log
*.example
*.dev
*.cache
*.conf
*.dist

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

/db/mariadb-data/
app/test.php
/tests/
phpunit.*