.DS_Store
*.tmp
*.log
.env
*.cache
*.conf

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

composer.phar
/vendor/

/db/mariadb-data/*
app/test.php
/trash/
/storage/
